<!-- Favicons: light mode -->
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/icons/jotti-icon-light-16.png"
  media="(prefers-color-scheme: light)"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/icons/jotti-icon-light-32.png"
  media="(prefers-color-scheme: light)"
/>
<!-- Favicons: dark mode -->
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/icons/jotti-icon-dark-16.png"
  media="(prefers-color-scheme: dark)"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/icons/jotti-icon-dark-32.png"
  media="(prefers-color-scheme: dark)"
/>
<!-- Fallback favicon -->
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/icons/jotti-icon-light-32.png"
/>
<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" href="/icons/jotti-logo-icon-light.png" />

<!-- Browser-Chrome-Farbe -->
<meta
  name="theme-color"
  content="#147758"
  media="(prefers-color-scheme: light)"
/>
<meta
  name="theme-color"
  content="#121e16"
  media="(prefers-color-scheme: dark)"
/>

<!-- Fonts & Styles -->
<link
  rel="preload"
  href="/fonts/Montserrat-Regular.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/Montserrat-Bold.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link rel="stylesheet" href="/css/base.css" />
